@import "tailwindcss";

.card-school {
    @apply
        bg-white
        shadow-[1px_6px_24px_0_#2626260A];

    & .logo-school {
        @apply bg-white;
    }
}
.custom-carousel {
    @apply
    bg-white
    shadow-[0_16px_32px_-4px_#FC455412];

}

.favorite-school {
    @apply
        bg-white;
}
        
.favorite-school:hover {
    @apply
        hover:bg-red-300;
}