@import "tailwindcss";

.btn-custom {
    @apply
        rounded-[2rem]
        py-[0.75rem]
        px-[1.25rem]
        font-normal
        text-[0.875rem]
}

.btn-chevron-custom {
    @apply
        bg-[#FC4554]
        rounded-[100%];
}

.btn-custom.primary {
    @apply
        text-[#FFFFFF]
        bg-[#FC4554]
        
        /****** Events ******/
        /* :hover */
        not-[:disabled]:hover:bg-[#CC3440]
        not-[:disabled]:hover:shadow-[0_0.25rem_0.75rem_0_#eb37514d]

        /* :focus */
        focus:bg-[#FF737F]
        focus:border-[0.068rem]
        focus:border-solid
        focus:border-[#FC4554]

        /* :disabled */
        disabled:bg-[#CACACA]
}

.btn-custom.secondary {
    @apply
        text-[#262626]
        border-2
        border-solid
        border-[#FC4554]

        /****** Events *******/
        /* :hover */
        not-[:disabled]:hover:bg-[#CC3440]
        not-[:disabled]:hover:shadow-[0_0.25rem_0.75rem_0_#eb37514d]
        not-[:disabled]:hover:text-[#FFFFFF]

        /* :focus */
        focus:bg-[#FF737F]
        focus:border-[0.068rem]
        focus:border-solid
        focus:border-[#FC4554]

        /* :disabled */
        disabled:bg-[#CACACA]
}
