@import "tailwindcss";

.btn-custom {
    @apply
        rounded-[2rem]
        font-normal
        text-[0.875rem]
        inline-flex
        items-center
        justify-center
        whitespace-nowrap
        min-w-fit
        max-w-full;
}

.btn-custom:not(:disabled):hover {
    .icon-btn {
        @apply
            brightness-0
            invert;
    }
}

.btn-custom.normal {
    @apply
        py-[0.75rem]
        px-[1.25rem];
}
.btn-custom.small {
    @apply
        py-[0.5rem]
        px-[0.75rem];
}

.btn-chevron-custom {
    @apply
        bg-[#FC4554]
        rounded-[100%];
}

.btn-custom.primary {
    @apply
        text-[#FFFFFF]
        bg-[#610CF4]
        
        /****** Events ******/
        /* :hover */
        not-[:disabled]:hover:bg-[#5409D5]

        /* :focus */
        focus:bg-[#B086FA]
        focus:border
        focus:border-solid
        focus:border-[#610CF4]

        /* :disabled */
        disabled:opacity-15
}

.btn-custom.primary-outline {
    @apply
        text-gray-900
        border
        border-solid
        border-[#610CF4]

        /****** Events *******/
        /* :hover */
        not-[:disabled]:hover:bg-[#5409D5]
        not-[:disabled]:hover:shadow-[0_0.25rem_0.75rem_0_#610CF43d]
        not-[:disabled]:hover:text-white

        /* :focus */
        focus:bg-[#B086FA]
        focus:border
        focus:border-solid
        focus:border-[#610CF4]

        /* :disabled */
        disabled:opacity-15
}

.btn-custom.secondary {
    @apply
        text-gray-900
        bg-[#FFE193]
        
        /****** Events ******/
        /* :hover */
        not-[:disabled]:hover:bg-[#E2B43F]

        /* :focus */
        focus:bg-[#FFE193]
        focus:border
        focus:border-solid
        focus:border-[#FFD464]

        /* :disabled */
        disabled:opacity-15
        disabled:text-[#A8A8A8]
}

.btn-custom.tertiary {
    @apply
        text-[#FFFFFF]
        bg-[#FC4554]
        
        /****** Events ******/
        /* :hover */
        not-[:disabled]:hover:bg-[#CC3440]
        not-[:disabled]:hover:shadow-[0_0.25rem_0.75rem_0_#eb37514d]

        /* :focus */
        focus:bg-[#FF737F]
        focus:border
        focus:border-solid
        focus:border-[#FC4554]

        /* :disabled */
        disabled:opacity-15
}

.btn-custom.tertiary-outline {
    @apply
        text-gray-900
        border
        border-solid
        border-[#FC4554]

        /****** Events *******/
        /* :hover */
        not-[:disabled]:hover:bg-[#CC3440]
        not-[:disabled]:hover:shadow-[0_0.25rem_0.75rem_0_#eb37514d]
        not-[:disabled]:hover:text-[#FFFFFF]

        /* :focus */
        focus:bg-[#FF737F]
        focus:border
        focus:border-solid
        focus:border-[#FC4554]

        /* :disabled */
        disabled:opacity-15
}
