@import "tailwindcss";

.content-hero {
    @apply flex flex-col-reverse items-center md:flex-row md:gap-8;
}
.content-hero {
    @apply text-[#262626];
}

.custom-title {
    @apply
        text-[#262626]
        font-semibold
        text-[1.938rem]
        leading-[120%];
}

.custom-title.nca {
    @apply text-[#610CF4];
}

.custom-title ~ p {
    @apply
        font-normal
        text-[1rem]
        leading-[1.25rem]
}

@media screen and (min-width: 768px) {
    .custom-title {
        @apply
        text-[2.438rem];
    }

    
    .custom-title ~ p {
        @apply
            text-[1.25rem]
            leading-[120%];
    }
    
}


@media screen and (min-width: 1280px) {
    .custom-title {
        @apply text-[3.063rem];
    }
    .custom-title ~ p {
        @apply
            text-[1.563rem]
            leading-[120%];
    }
    
}