
.form-check-input:checked {
    background-color: #FC4554;
    border-color: #FC4554;
}
.form-check-input:focus {
    border-color: #FC4554;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(252, 69, 84, 0.25);
}