@import "tailwindcss";

.form-check-input {
    @apply
        checked:bg-[#FC4554]
        checked:border-[#FC4554];
}
.form-check-input:focus {
    @apply
        focus:border-[#FC4554]
        focus:outline-0
        focus:shadow-[0_0_0_0.25rem_#fc455440];
}