@import "tailwindcss";

.sidebar {
    @apply shadow-[0_7px_21px_0_#451A1A0A];
}
.module-item {
    @apply no-underline;
}
.menu-item {
    @apply
        cursor-pointer
        p-[0.75rem]
        gap-[0.5rem]
}

.content-icon {
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
    .menu-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.menu-item:hover {
    border-right: 0.375rem solid #FC4554;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: #F0F0F0;
}

.menu-item:hover .content-icon {
    background-color: #FC4554;
}

.menu-item:hover .menu-icon {
    filter: brightness(0) invert(1);
}

.menu-item.active {
    border-right: 0.375rem solid #FC4554;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: #F0F0F0;
    .content-icon {
        background-color: #FC4554;
    }
    .menu-icon {
        filter: brightness(0) invert(1);
    }
}