@import "tailwindcss";

.p-dropdown.custom-dropdown , .p-multiselect.custom-dropdown-multi {
    @apply
        rounded-[1.5rem]
        shadow-none
        
        in-active:rounded-b-none
        has-active:border-b-0;
}

.p-dropdown-panel .p-dropdown-items {
    @apply
        p-0 m-0;
}
