@import "tailwindcss";
@import "primereact/resources/themes/lara-light-indigo/theme.css"; /* O el tema que prefieras */
@import "primereact/resources/primereact.min.css";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #FFFCF8;
  --foreground: #171717;
  --font-sans-outfit: "Outfit", sans-serif;
  --font-sans-funnel: "Funnel Sans", sans-serif;
  --font-sans-roboto: "Roboto", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFCF8;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
