.header {
    box-shadow: 0px 7px 21px 0px #451A1A0A;
}
.user-info:hover  {
    cursor: pointer;
    background-color: #fb7676df;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.hover-icon-header:hover {
    cursor: pointer;
    background-color: #fb7676df;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.ul-items:hover .li-item {
    background-color: #d1cfcf;
    cursor: pointer;
}