@import "tailwindcss";

.custom-link {
    @apply
        text-[#676767]
        no-underline;
}

.container-icon {
    @apply
        p-[0.25rem]
        rounded-[0.5rem];

    .custom-icon {
        @apply
            stroke-[#676767]
            fill-[#FFFFFF];
    }
}

.custom-link.home:hover, .custom-link.home.active {
    @apply
        font-bold
        text-[#610CF4];
    & .container-icon {
        @apply bg-[#610CF4];
        & .custom-icon {
            @apply
            stroke-[#FFFFFF]
            fill-[#610CF4];
        }
    }
}
.custom-link.colegios:hover, .custom-link.colegios.active {
    @apply
        font-bold
        text-[#FC4554];
    & .container-icon {
        @apply bg-[#FC4554];
        & .custom-icon {
            @apply
            stroke-[#FFFFFF]
            fill-[#FC4554];
        }
    }
}
.custom-link.registrations:hover, .custom-link.registrations.active {
    @apply
        font-bold
        text-[#000000];
    & .container-icon {
        @apply bg-[#FFD464];
        & .custom-icon {
            @apply
                fill-[#FFD464]
                stroke-[#676767];
        }
    }
}
.custom-link.admisiones{
    .custom-icon {
        @apply fill-[#FFFFFF];
    }
}
.custom-link.admisiones:hover, .custom-link.admisiones.active {
    @apply
        font-bold
        text-[#610CF4];
    & .container-icon {
        @apply bg-[#610CF4];
        & .custom-icon {
            @apply
                fill-[#610CF4]
                stroke-[#FFFFFF];
        }
    }
}
.custom-link.certificaciones{
    & .custom-icon {
        @apply fill-[#676767];
    }
}
.custom-link.certificaciones:hover, .custom-link.certificaciones.active {
    @apply
        font-bold
        text-[#0CC2F4];
    & .container-icon {
        @apply bg-[#0CC2F4];
        & .custom-icon {
            @apply
                fill-[#FFFFFF]
                stroke-[#FFFFFF];
        }
    }
}
.custom-link.noticias:hover, .custom-link.noticias.active {
    @apply
        font-bold
        text-[#000000];
    & .container-icon {
        @apply bg-[#646363];
        & .custom-icon {
            @apply
                fill-[#646363]
                stroke-[#FFFFFF];
        }
    }
}
.custom-link.quienes-somos{
    & .custom-icon {
        @apply fill-[#646363];
    }
}
.custom-link.quienes-somos:hover, .custom-link.quienes-somos.active {
    @apply
        font-black
        text-[#FC4554];
    & .container-icon {
        background: linear-gradient(162.2deg, #F0813C 9.83%, #EB3751 48.88%, #610CF4 88.69%);
        .custom-icon {
            @apply
                fill-[#FFFFFF]
                stroke-[#FFFFFF];
        }
    }
}