@import "tailwindcss";

.custom-header {
  @apply
    bg-[#FFFFFF]
    shadow-[1px_5px_12px_0px_#00000012];

  .content-profile {
    & .custom-profile {
      @apply 
        border
        border-solid
        border-[#676767]
    }
  }

  @media screen and (max-width: 1279px) {
    .content-profile {
      .custom-profile {
        @apply
          border
          border-solid
          border-[#b086fa];
      }
    }
  }
}
