@import "tailwindcss";

.custom-header {
  @apply bg-[#ffffff] shadow-[1px_5px_12px_0px_#00000012];

  .content-profile {
    .custom-profile {
      @apply border border-[#676767];
    }
  }

  /* @media screen and (max-width: 1279px) {
    .content-profile {
      .custom-profile {
        border: 1px solid #b086fa;
      }
    }
  } */
}
