.custom-input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 2.25rem;
    gap: 0.75rem;
    border: 1px solid #DFDFDF;
    background-color: #FFFFFF;
}

.btn-toggle-icon {
    background-color: white;   
}
.btn-toggle-icon:disabled {
    background-color: #DFDFDF;   
}

.custom-input:focus {
    border: 1px solid #610CF4;
    box-shadow: none;
}
.custom-input:invalid {
    border: 1px solid #FC4554
}
.custom-input:disabled {
    background-color: #DFDFDF;
    border: 1px solid #DFDFDF;
    color: #B2B1B1;
}
