@import "tailwindcss";

.custom-input {
    @apply 
        w-full
        py-[0.75rem]
        px-[1.25rem]
        rounded-[2.25rem]
        border
        border-[#DFDFDF]
        bg-[#FFFFFF];
}

.custom-input::placeholder,
.custom-textarea::placeholder {
    @apply
        text-[#B2B1B1];
}

.custom-input.input-search {
    @apply
        pl-[2.5rem]
        text-[1rem]
        font-normal
        leading-[1rem];
}

.custom-input:focus {
    @apply
        border
        border-solid
        border-[#610CF4]
        shadow-none;
}
.custom-input:invalid {
    @apply
        border
        border-solid
        border-[#FC4554];
}
.custom-input:disabled {
    @apply
        bg-[#DFDFDF]
        border
        border-solid
        border-[#DFDFDF]
        text-[#B2B1B1];
}

.btn-toggle-icon {
    @apply
        bg-[#FFFFFF];  
}
.btn-toggle-icon:disabled {
    @apply
        bg-[#DFDFDF]; 
}
