@import "tailwindcss";

.count-timer {
    @apply
        text-[#FC4554];
}

.content-banner {
    @apply
        rounded-[0.5rem] border;
}

.p-errors {
    @apply
        text-[0.875rem]
        font-normal
        text-[#FC4554]
        mt-0 mb-0;
}